<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.MailKit" />
	</extensions>
	<targets async="true">
		<target name="applicationLog" xsi:type="File" fileName="logs\appLog.log" keepFileOpen="False" archiveEvery="Sunday">
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false" >
					<attribute name="type" layout="${exception:format=Type" />
					<attribute name="message" layout="${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
					<attribute name="version" layout="${assembly-version}" />
					<attribute name="properties" layout="${all-event-properties}" />
				</attribute>
				<attribute name="eventProperties" layout="${all-event-properties}" />
			</layout>
		</target>
		<target name="errorLog" xsi:type="File" fileName="logs\appException.log" keepFileOpen="False" archiveEvery="Sunday">
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false" >
					<attribute name="type" layout="${exception:format=Type" />
					<attribute name="message" layout="${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
					<attribute name="version" layout="${assembly-version}" />
					<attribute name="properties" layout="${all-event-properties}" />
				</attribute>
				<attribute name="eventProperties" layout="${all-event-properties}" />
			</layout>
		</target>
		<target name="applicationConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" >
			<layout xsi:type="JsonLayout" includeEventProperties="true" excludeProperties="Comma-separated list (string)">
				<attribute name="time" layout="${longdate}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" encode="false" >
					<attribute name="type" layout="${exception:format=Type" />
					<attribute name="message" layout="${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
					<attribute name="version" layout="${assembly-version}" />
					<attribute name="properties" layout="${all-event-properties}" />
				</attribute>
				<attribute name="eventProperties" layout="${all-event-properties}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="appLogger" minlevel="Trace" maxlevel="Info" writeTo="applicationConsole,applicationLog" />
		<logger name="errorLogger" minlevel="Warning" maxlevel="Fatal" writeTo="applicationConsole,errorLog,applicationLog,eMail" />
		<logger name="*" minlevel="Trace" writeTo="applicationConsole,applicationLog" />
	</rules>
</nlog>